
body {
    font-family: Poppins, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: black;
}

body.home::before {
    content: "";
    display: block;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(assets/home-background.png) no-repeat center center;
    background-color: #DF7334;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.game::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(assets/game-background.png) no-repeat center center;
    background-color: #F55B8B;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.web::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(assets/web-background.png) no-repeat center center;
    background-color: #57859C;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.art::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(assets/art-background.png) no-repeat center center;
    background-color: #699457;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.about::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(assets/about-background.png) no-repeat center center;
    background-color: #A369AB;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  
.container {
    max-width: 1300px;

    animation-name:revealUp;
    animation-duration: 1s;
}

.container-home{
    margin: 20px auto;
    width:700px;
    height:100%;
    scale: .7;
    display:grid;
    justify-content:center;

    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: 10px;
    grid-column-gap: 207px;
    grid-row-gap: 210px;

    animation-name: revealUpHome;
    animation-duration: 1s;

    section:nth-child(1) { grid-column: 1 / 4; grid-row: 1; z-index: 1;}
    section:nth-child(2) { grid-column: 3 / 6; grid-row: 1; z-index: 1;}
    section:nth-child(3) { grid-column: 1 / 4; grid-row: 2; z-index: 2;}
    section:nth-child(4) { grid-column: 3 / 6; grid-row: 2; z-index: 2;}
    section:nth-child(5) { grid-column: 1 / 4; grid-row: 1; z-index: 0;}
    section:nth-child(6) { grid-column: 1 / 4; grid-row: 1; z-index: 3;}
  
}

h1 {
    font-family: Poppins;
    font-weight:bold;
    margin: 40px;

    animation-name: reveal;
    animation-duration: 2s;
}

h1 img {
    animation-name: reveal;
    animation-duration: 1s;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 4px;
}

p {
    line-height: 2em;
    margin-top: 1em;
    vertical-align: middle;
}

hr {
    max-width:20em;
    border-width:2px;
    background-color:rgba(0, 0, 0, 0.5);
    margin:15px 0 10px 0;

    animation-name:lineExtend;
    animation-duration:3s;
}

.subtitle {
    display : flex;
    line-height:normal;
    margin-top: 10px;
    font-size: 14px;
    align-items:center;
}

.line {
    border-left:1px solid #2e2e2e;
    margin: 0px 25px 0px 25px;
    height:40px;
}

.external:link, .external:visited {
    color:rgb(78, 78, 78);
    text-decoration: underline;
    transition: color .10s ease-in-out; 
}

.external:hover {
    color: white;
    
}

.full {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layer {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 3em 2em 3em 2em;

    /* shine side, shade side, shine top */
    /* box-shadow: 0 10px 10px -5px rgba(255, 255, 255, 0.5),0 25px 0 rgba(76, 76, 76, 0.4),inset 0 -15px 10px -5px rgba(201, 201, 201, 0.3),0px 0px 25px rgba(0, 0, 0, 0.4); */
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-left: 1em;
    margin-right: 1em;
    border: 2px solid;
}

.row {
    margin-top: 40px;
    max-width: 100%;
}

/* .top-links {
    float:right;
} */

.page-image {
    width: 100%;
    height: auto;
    border: 3px solid rgb(50, 50, 50);
    margin-bottom: 10px;
    border-radius: 10px;
}

.page-icon {
    margin-right: 1em;
    image-rendering: optimizeSpeed;
    
}

.tag {
    float:right;
    font-size: 0.5em;
}

.tag-mobile {
    display: none;
    font-weight: bold;
    float:right;
    font-size: 1em;
    padding-bottom: 1em;
    margin-right:-1em;
    margin-top:-2em;
}

/* Buttons ----------------------------------------------------------- */

.btn-outline-dark {
    background-color: rgba(255, 255, 255, 0.5);
    border:none;

    /* shine side, shade side, shine top */
    box-shadow: 0px 5px 5px -5px rgba(255, 255, 255, 0.7),0px 5px 0px rgba(0, 0, 0, 0.4),inset 0px -5px 5px -5px rgba(255, 255, 255, 0.7);
    /* transition: box-shadow 0s; */
}

.btn-outline-dark img {
    transition: filter .15s ease-in-out;
}

.btn-outline-dark:hover {
    color: lightgrey;
    box-shadow: 0px 5px 5px -5px rgba(255, 255, 255, 0.7),0px 5px 0px rgba(0, 0, 0, 0.9),inset 0px -5px 5px -5px rgba(255, 255, 255, 0.7);
}

.btn-outline-dark:hover img {
    filter:invert(80%);
}

.btn-outline-dark:focus-within {
    box-shadow: unset;
    margin-top: 5px;
}

button:focus {
    outline: none;
}


/* Navigation --------------------------------------------------------- */

.navbar {
    position:fixed;
    top:0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding:0;
    margin: 1rem 1rem;

    animation-name: revealRight;
    animation-duration: 1s;
}

.navbar .navbar-toggler {
    box-shadow: none;
    border: none;
}

.navbar-nav {
    padding:.5rem 0 .5rem 1rem;
}

/* About ------------------------------------------------------------------ */

div.about {
    text-align: center;
}

p.about {
    margin-top: 0;
    margin-bottom: 2em;
}

.aboutLink:link, .aboutLink:visited {
    color:black;
    text-decoration: none;

    transition: color .10s ease-in-out;
}

.aboutLink:hover {
    color: white;
}

.aboutLink img{
    transition: filter .10s ease-in-out;
    
}

.aboutLink:hover img{
    filter:invert(100%);
    
}

.about-logo {
    width: 22px;
    height: auto;
}

.profile-image {
    width: 350px;
    max-width: 100%;
    height: auto;
    border: 3px solid rgb(50, 50, 50);
    margin-bottom: 1em;
    border-radius: 10px;
}

.text-logo {
    width: auto;
    height: 20px;
}

/* Carousels ------------------------------------------------------------------ */

.carousel-control-prev-icon {
    filter:invert(50%);
}

.carousel-control-next-icon {
    filter: invert(50%);
}

.carousel-indicators {
    filter: invert(25%)
}

.carousel-item img{
    width: 100%;
    height: 470px;
    object-fit:contain;
    margin: auto; 
    display: flex;
    justify-content: center;
    background-color: black;
}

.carousel-inner {
    border: 3px solid rgb(50, 50, 50);
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Footers ---------------------------------------------------------------------------- */

footer {
    bottom:0;
    padding: 1em;
    font-size: small;
}

.footer-home {
    position: fixed;
    bottom:0;
    width:100%;
    padding-bottom: 300px;
    z-index: -9;
    filter:drop-shadow(0px 0px 40px rgb(0, 0, 0, 0.5));
    user-select: none;
}

/* Homepage Images/Buttons ------------------------------------------------------------ */

.button-img {
    margin-left:0.25em;
    transition: filter .10s ease-in-out, margin-top .05s ease-in-out;
    
}

.button-img:hover {
    filter:brightness(110%);
    margin-top: 5px;
}

.button-img:active {
    margin-top: 1em;
}

.head-img {
    margin-top: 1em;
    margin-left: -1.25em;
    z-index: 5;
}

.head-front-img {
    margin-top:235px;
    margin-left: -1.25em;
    pointer-events: none;
    z-index: 5;
}

/* Media Queries ------------------------------------------------------- */

/* For big displays */
@media (min-width:2000px) {
    .container-home {
        scale:1;
    }

    h1 {
        font-size: 4em;
    }

    hr {
        border-width: 4px;
    }

    .footer-home {
        padding-bottom: 500px;
    }
}

/* For short displays */
@media (max-height:675px) {
    .container-home {
        scale: 0.5;
        margin: 10px auto;
    }

    .footer-home {
        padding-bottom:190px;
    }
}

/* For mobile displays */
@media (max-width:768px) {
    .container-home {
        scale:0.4;
        width:unset;
    }

    .layer {
        margin-left: 0.2em;
        margin-right: 0.2em;
        padding: 3em 1em 3em 1em;
    }

    .page-icon {
        margin-right: 0;
        margin-bottom: 1em;
        display:block;
    }

    .footer-home {
        padding-bottom:120px;
    }

    .tag {
        display: none;
    }

    .tag-mobile {
        display:block;
    }

    .sideways-mobile {
        writing-mode: vertical-rl;
        transform: rotate(-180deg)
    }

    .navbar {
        margin: .5rem .5rem
    }
}

/* Animations ---------------------------------------------------------------- */

@keyframes revealLeft {
    from {
        opacity: 0;
        transform: translate(10%,0%);
    }
    to {
        opacity: 1;
        transform: translate(0,0);
    }
}

@keyframes revealRight {
    from {
        opacity: 0;
        transform: translate(-100%,0%);
    }
    to {
        opacity: 1;
        transform: translate(0,0);
    }
}

@keyframes revealUp {
    from {
        opacity: 0;
        transform: translate(0%,5%);
    }
    to {
        opacity: 1;
        transform: translate(0,0);
    }
}

@keyframes revealUpHome {
    from {
        opacity: 0;
        transform: translate(0%,100%);
    }
    to {
        opacity: 1;
        transform: translate(0,0);
    }
}

@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes lineExtend {
    from {
        max-width: 0em;
    }
    to {
        max-width: 20em;
    }
}